.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
input[type="text"],input[type="password"],input[type="email"]{
    width: 300px;
    height: 38px;
    padding-left: 20px;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
}
.train_details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.train1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
}

.time, .station {
    margin: 2px 9px;
}

input[type="time"]{
    opacity: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.time input[disabled], .station input[disabled] {
    color: #000;
}

.time {
    padding-right: -5px;
    opacity: 100%;
}

.station {
    padding-left: 5px;
}

input[type="number"]{
    width: 253px;
    height: 38px;
    padding-left: 10px;
    padding-right: 2px;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    justify-content: center;
    margin-left: 1px;
    font-variant-numeric: normal;
}
.d3{
    margin-left:290px ;
    font-size: 12pt;
    text-size-adjust: 12pt;
    margin-top: -54px;
}
.d3 .lb{
    font-size: 12pt;
}
h3{
    font-size: 15pt;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1pt;
    opacity: 70%;
}
.name3{
    width: 27px;
    height: 38px;
    padding-left: 20px;
    padding-right: 3px;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    align-items: center;
    margin-left: 40px;
    font-size: 10pt;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
input[type="date"], select  {
    width: 230px;
    height: 40px;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
}
.bgimage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1; 
}
#reserve {
    position: absolute;
    z-index: 1; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 80px; 
    margin-top: -25px;
}
#login{
    position: absolute;
    z-index: 1; 
    width: 130%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 140px; 
    margin-top: -30px;
}
#register{
    position: absolute;
    z-index: 1; 
    width: 130%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 90px; 
    margin-top: -35px;
}
#registershow{
    position: absolute;
    z-index: 1; 
    width: 130%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 150px; 
    margin-top: -35px;
    overflow-y: scroll;
}
#bookshow{
    position: absolute;
    z-index: 1; 
    width: 130%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 400px; 
    margin-top: -45px;
    overflow-y: scroll;
}
.pass{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    flex-direction: column;
    margin-right: 8px;
}
.pass .rg{
    margin-left: 175px;
    margin-top: -18px;
}
.pass .fp{
    margin-left: 95px;
    margin-bottom: 10px;
}
.pass .lg{
    margin-left: 190px;
    margin-top: -18px;
}
.pass .lf{
    margin-left: 190px;
    margin-top: -18px;
}
.rm{
    margin-left: -195px;
    font-size: 15pt;
   
    font-family: Arial, Helvetica, sans-serif;
}
.rm-label {
    margin-left: 5px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}
#rs_form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column; 
    position: relative; 
}
.swap {
    padding-right: 280px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.ip {
    margin-left: 40px;
    border-radius: 3px;
}
.dt{
    margin-left: 40px;
    border-radius: 3px;
    width: 1500px;
}
h1 {
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
}
.gn {
    width: 320px;
    height: 41px;
    padding-left: 20px;
    margin-right: 275px;
    border-color: black;
    border-width: 2px;
}
.gp{
    width: 325px;
    height: 41px;
    padding-left: 20px;
    margin-right: 365px;
    border-color: black;
    border-width: 2px;
}
.check {
    margin-right: 355px;
    display: flex;
    flex-direction: column;
}
.check-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
.check-item input[type="checkbox"] {
    margin-right: 10px; 
}
.b1 {
    border-radius: 3px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #303090;
    font-size: 16pt;
    cursor: pointer;
}
.b7{
    margin-left: 10px;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #303090;
    font-size: 16pt;
    cursor: pointer;

}
.b10{
    margin-left: 10px;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #303090;
    font-size: 20pt;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #ffffff; 
    border: 2px solid white; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px; 
    margin-top: -40px;
}
.b2 {
    background-color: #303090;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;


}
.b30{
	background-color: #303090;
    color: white;
    border: none;
    padding: 15px 45px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15pt;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:470px;
}

.b3 {
    background-color: white;
    color: white;
    border: none;
}
.b2:hover {
    background-color: #0056b3;
}
.b1:hover {
    background-color: #0056b3;
}
.fa.fa-home {
    cursor: pointer;
    color: black;
}
.trainimage {
    width: 50px;
    height: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 650px;
    margin-top:-5px;
    cursor:not-allowed;
}
.b4 {
    background-color: #F53E2F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.b4:hover {
    background-color: #F56054;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13pt;
    padding: 7px 6px;
    font: bold;
    color: black;
}
::placeholder{
    font-size: 12pt;
}
.trainimage{
    background: none;
}

.contact h3{
    text-align: left;
    line-height: 1.8;
    opacity: 100%;
}
.contact h3 .g{
    color: #F53E2F;
    font-size: 20pt;
}
.contact h3 a{
    text-decoration: none;
}
#blink {
    animation: blinker 1.9s linear infinite;
    color: red;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 40%;
    }
}
input:focus {
    outline: none;      
    border: 2.75px solid rgb(2, 2, 2);  
}
.train_header a{
    text-align: start;
    align-items: start;
}
table{
    border-collapse: collapse;
}
th{
    text-align: left;
    font-size: 20pt;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}
input[type="time"]
{
    font-size: 15pt;
    width: 100px;
    opacity: 200%;
    border: none;
    text-align: right;
}
.train_left .line{
    height: 60px;
}
.train_left input[type="text"]{
    font-size: 13pt;
    text-align: left;
    width: 170px;
    border: none;
    margin-left:-20px;
}
.train_left label{
	
	font-weight:bolder;
}
.train_middle input[type="text"]{
    font-size: 13pt;
    text-align: left;
    width:auto;
    border: none;
   
    
}

.train_middle{
    margin-top: -20px;
    margin-left:-20px;
}
.train_right input[type="text"]{
    font-size: 13pt;
    text-align: left;
    width: 155px;
    border: none;
    margin-left:-20px;
    outline: none;
}
.train_middle{
    
    margin-left:-40px;
}
table{
    border: none;
    outline: none;
}
td{
    border: none;
    outline: none;
}
.train_left, .train_middle , .train_right{
    display: inline-block;
    vertical-align: top;
    gap: 20px;
}
.train_sleeper{
    width: 170px;
    height: 80px;
    background-color:rgb(244, 237, 237);
    border-radius: 3px;
    margin-left: 10px;
    padding-top: 0.1px;
    padding-bottom: 30px;
    padding-left: 1px;
    display: inline-block;
    vertical-align: top;
    
}
.train_sleeper label{
    color: green;
    font-size: 13.3pt;
    margin-left: 25px;
}
.train_sleeper h3{
    margin-left: 25px;
    margin-bottom: -22px;
    opacity: 100%;
}
.train_sleeper label input[type="tel"]{
    width: 50px;
    font-size: 12pt;
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-left: -3px;
    background: none;
}
table .td2{
    margin-top: -25px;
}
.b20{
    background-color:#050591;
    color: white;
    border: none;
    padding: 4px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-bottom: -2px;
    margin-top: 8px;
}

.sl_form,.form_3a,.form_2a,.form_1a{
    display: inline-block;
    vertical-align: top;
}

#bookshow h2,span{
	display: inline-block;
	vertical-align: top;
}

#registershow span{
	margin-bottom: -5px;
}
#bookshow h2{
	margin-top:13px;
}
.form_2s,.form_cc{
    display: inline-block;
    vertical-align: top;
}

.train_header .b2{
    margin-left:15px;

}

.train_header .b4{
    margin-right:auto;
    margin-right: -200px;
    margin-left: 820px;
}
.train_2s{
    width: 230px;
    height: 87px;
    background-color:rgb(244, 237, 237);
    border-radius: 3px;
    margin-left: 10px;
    padding-top: 0.1px;
    padding-bottom: 30px;
    padding-left: 1px;
    display: inline-block;
    vertical-align: top;
    
}
.train_2s label{
    color: green;
    font-size: 13.3pt;
    margin-left: 55px;
}
.train_2s h3{
    margin-left: 30px;
    margin-bottom: -22px;
    opacity: 100%;
}
.train_2s label input[type="tel"]{
    width: 50px;
    font-size: 12pt;
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-left: -3px;
    background: none;
}
.b21{
    background-color:#050591;
    color: white;
    border: none;
    padding: 4px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-bottom: -2px;
    margin-top: 8px;
}
.train_man h3{
    margin-left: 35px;
    margin-bottom: -27px;
    opacity: 100%;
    color:red;
}

.train1 th input{
    border: none;
    outline: none;
    
}

#bookshow h2{
	font-weight:bold;
	font-size:23pt;
	font-family: Arial, Helvetica, sans-serif;
}



